<div id="container">
  <form novalidate [formGroup]="loginForm">
    <h1>Login</h1>
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        autocomplete="email"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Passwort"
        formControlName="password"
        autocomplete="current-password"
        required
      />
    </mat-form-field>
    <button
      mat-raised-button
      [disabled]="!loginForm.valid"
      (click)="send(loginForm.value)"
    >
      Senden
    </button>
    <div [ngClass]="{ error: loginmessage !== 'Angemeldet' }" *ngIf="loginTry">
      {{ loginmessage }}
    </div>
  </form>
</div>
