#container {
  display: flex;
  height: 100%;
  form {
    margin: auto;
    display: flex;
    flex-direction: column;
    & > * {
      width: 30rem;
    }
    div {
      color: green;
      margin-top: 1rem;
      text-align: center;
    }
    .error {
      color: red;
    }
  }
}
