<div [ngClass]="(darkTheme$ | async) ? null : ' theme-alternate'">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list role="navigation">
        <a
          mat-list-item
          [routerLink]="['/admin']"
          routerLinkActive="router-link-active"
        >
          <mat-icon matListIcon>security</mat-icon>Admin
        </a>
        <a
          mat-list-item
          [routerLink]="['/user']"
          routerLinkActive="router-link-active"
        >
          <mat-icon matListIcon>fastfood</mat-icon>User
        </a>
        <div>
          <a
            mat-list-item
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
          >
            <mat-icon matListIcon>perm_identity</mat-icon>Anmelden
          </a>
          <a
            mat-list-item
            [routerLink]="['/settings']"
            routerLinkActive="router-link-active"
          >
            <mat-icon matListIcon>settings</mat-icon>Einstellungen
          </a>
          <a mat-list-item (click)="logout()">
            <mat-icon matListIcon>close</mat-icon>Abmelden
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z4">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>Was darf's denn sein Meister</h1>
      </mat-toolbar>
      <main id="content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
